
.DS_Store
Thumbs.db
desktop.ini
*.swp
*~
.fuse_hidden*
.directory
.Trash-*


target/
build/
bin/
out/
.gradle/
.m2/
.mvn/wrapper/maven-wrapper.jar

.idea/
*.iws
*.iml
*.ipr
out/
cmake-build-*/
atlassian-ide-cli.xml

.vscode/
.env
*.env
.history/

*.log
logs/
*.stackdump
core
core.*

HELP.md
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

application-local.properties
application-local.yml
application-dev.yml
secrets.yml

!**/src/main/**/target/
!**/src/test/**/target/

!src/main/resources/data/*.csv